@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');
.form{
  text-align: center;
  margin-top: 12.5%;
}
button{
  width: 100px;
  height: 30px;
}
body{
  margin: 0%;
  width:100%;
}
body,input::placeholder,button{
  font-family: 'K2D', sans-serif;
}
.login{
  margin: 5% auto;
  width: 50%;
  height: 50%; 
  border: 1px solid black;
  border-radius: 20px;
}
